body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

#root {
  overflow-x: hidden;
}

li {
  list-style: none;
}
/*MEDIAS QUERIES*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .BG-tpop {
    height: 80px;
  }

  .p-lateral {
    padding: 0px 22px;
  }

  .desktop_menu {
    display: none;
  }
  .mobileContainer {
    display: flex;
  }
  .fresa-blur {
    width: 145px;
    height: calc(300px - 80px);
    object-fit: contain;
    position: absolute;
    right: 0;
  }

  .fresa-blur2 {
    position: absolute;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 90px 0px 0px -70px;
    object-fit: contain;
    transform: rotate(-45deg);
  }

  .Header-container {
    flex-direction: column;
  }

  .fresa-bebible-1-1 {
    margin: 90px 0px -60px 0px;
    width: 170px;
    height: 300px;
    object-fit: contain;
  }
  .span-sabores {
    justify-content: space-evenly;
    max-width: 100%;
    gap: 7px;
    font-size: 14px;
  }
  .Vitalnea-Bebible-F {
    font-size: 20px;
  }
  .buttonComprar {
    width: 100%;
    height: 40px;
    padding: 10px 75px 11px 70px;
  }
  .sellos-container {
    justify-content: center;
  }
  svg {
    height: 20vw;
  }
  .containerCircle {
    justify-content: center;
    position: relative;
  }
  .title_movil {
    display: block;
  }
  .title_desktop {
    display: none;
  }

  .desk_w {
    width: 100%;
  }
  .flex_row_center {
    flex-direction: column;
  }
  .familia-vitalinea {
    font-size: 22px;
  }
  .preview {
    height: 130px;
    width: 130px;
  }
  .productName {
    font-size: 11px;
  }
  .footer_text {
    display: block;
    text-align: center;
  }
  .footer_text_d {
    display: none;
  }

  .fresa-normal-1 {
    display: none;
  }
  .fresa-blur-2 {
    display: none;
  }
  .fresan {
    display: none;
  }

  .fresa-normal-3 {
    display: block;
  }
  .fresb4 {
    display: none;
  }
  .fresanormalp {
    display: none;
  }
  .fresan3 {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .BG-tpop {
    height: 80px;
  }
  .p-lateral {
    padding: 0px 22px;
  }
  .desktop_menu {
    display: none;
  }
  .mobileContainer {
    display: flex;
  }
  .fresa-blur {
    width: 145px;
    height: calc(300px - 80px);
    object-fit: contain;
    position: absolute;
    right: 0;
  }

  .fresa-blur2 {
    position: absolute;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 90px 0px 0px -70px;
    object-fit: contain;
    transform: rotate(-45deg);
  }
  .Header-container {
    flex-direction: column;
  }

  .fresa-bebible-1-1 {
    margin: 90px 0px -60px 0px;
    width: 170px;
    height: 300px;
    object-fit: contain;
  }
  .span-sabores {
    justify-content: space-evenly;
    max-width: 100%;
    gap: 7px;
  }
  .Vitalnea-Bebible-F {
    font-size: 20px;
  }
  .buttonComprar {
    width: 100%;
    height: 40px;
    padding: 10px 75px 11px 70px;
  }
  .sellos-container {
    justify-content: center;
  }
  svg {
    height: 20vw;
  }
  .containerCircle {
    justify-content: center;
    position: relative;
  }
  .title_movil {
    display: block;
  }
  .title_desktop {
    display: none;
  }
  .desk_w {
    width: 100%;
  }
  .flex_row_center {
    flex-direction: column;
  }
  .familia-vitalinea {
    font-size: 22px;
  }
  .preview {
    height: 130px;
    width: 130px;
  }
  .productName {
    font-size: 11px;
  }
  .footer_text {
    display: block;
    text-align: center;
  }
  .footer_text_d {
    display: none;
  }
  .fresa-normal-1 {
    display: none;
  }
  .fresa-blur-2 {
    display: none;
  }
  .fresan {
    display: none;
  }
  .fresa-normal-3 {
    display: block;
  }
  .fresb4 {
    display: none;
  }
  .fresanormalp {
    display: none;
  }
  .fresan3 {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .BG-tpop {
    height: 80px;
  }
  .p-lateral {
    padding: 0px 22px;
  }

  .desktop_menu {
    display: none;
  }
  .mobileContainer {
    display: flex;
  }
  .fresa-blur {
    width: 145px;
    height: calc(300px - 80px);
    object-fit: contain;
    position: absolute;
    right: 0;
  }

  .fresa-blur2 {
    position: absolute;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 90px 0px 0px -70px;
    object-fit: contain;
    transform: rotate(-45deg);
  }
  .Header-container {
    flex-direction: column;
  }

  .fresa-bebible-1-1 {
    margin: 90px 0px -60px 0px;
    width: 170px;
    height: 300px;
    object-fit: contain;
  }
  .span-sabores {
    justify-content: space-evenly;
    max-width: 100%;
    gap: 7px;
  }
  .Vitalnea-Bebible-F {
    font-size: 20px;
  }
  .buttonComprar {
    width: 100%;
    height: 40px;
    padding: 10px 75px 11px 70px;
  }
  .sellos-container {
    justify-content: center;
  }
  svg {
    height: 20vw;
  }
  .containerCircle {
    justify-content: center;
    position: relative;
  }
  .title_movil {
    display: block;
  }
  .title_desktop {
    display: none;
  }
  .desk_w {
    width: 100%;
  }
  .flex_row_center {
    flex-direction: column;
  }
  .familia-vitalinea {
    font-size: 22px;
  }
  .preview {
    height: 300px;
    width: 300px;
  }
  .productName {
    font-size: 16px;
  }
  .footer_text {
    display: block;
    text-align: center;
    font-size: 14px !important;
  }
  .footer_text_d {
    display: none;
  }
  .fresa-normal-1 {
    display: none;
  }
  .fresa-blur-2 {
    display: none;
  }
  .fresan {
    display: none;
  }
  .fresa-normal-3 {
    display: none;
  }
  .fresb4 {
    display: none;
  }
  .fresanormalp {
    display: none;
  }
  .fresan3 {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .BG-tpop {
    height: 100px;
  }
  .p-lateral {
    padding: 0px 119px;
  }
  .desktop_menu {
    display: flex;
  }
  .mobileContainer {
    display: none;
  }
  .fresa-blur {
    object-fit: contain;
    position: absolute;
    right: 20%;
    width: 471px;
    height: 177px;
  }

  .fresa-blur2 {
    position: absolute;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 0px 0px 0px 10%;
    object-fit: contain;
    transform: rotate(-45deg);
  }
  .Header-container {
    flex-direction: row;
  }

  .fresa-bebible-1-1 {
    margin: 0px 0px 0px 0px;
    width: 148.5px;
    height: 403.1px;
    object-fit: contain;
  }
  .span-sabores {
    justify-content: space-between;
    max-width: 400px;
    gap: 7px;
  }
  .Vitalnea-Bebible-F {
    font-size: 40px;
  }
  .buttonComprar {
    width: 243px;
    height: 40px;
    padding: 0px;
  }
  .sellos-container {
    justify-content: flex-start;
  }
  svg {
    height: 13vw;
  }
  .containerCircle {
    justify-content: flex-start;
    position: absolute !important;
    top: calc(100% - 128px);
  }
  .title_movil {
    display: none;
  }
  .title_desktop {
    display: block;
    font-size: 32px !important;
  }
  .desk_w {
    width: 555px;
  }
  .flex_row_center {
    flex-direction: row;
  }
  .familia-vitalinea {
    font-size: 44px;
  }
  .preview {
    width: 356px;
    height: 212px;
  }
  .vg {
    width: 356px !important;
    height: 212px !important;
    margin: 200px 0 0px !important;
    img {
      object-fit: contain;
    }
  }
  .vs {
    width: 228px !important;
    height: 267px !important;
    margin: 147px 0 0px !important;
  }
  .vb {
    width: 296px !important;
    height: 414px !important;
  }

  .productName {
    font-size: 22px;
  }
  .footer_text {
    display: none;
    text-align: center;
  }
  .footer_text_d {
    display: block;
    text-align: left;
  }
  .fresa-normal-1 {
    display: block;
    position: absolute;
    width: 139px;
    height: 175px;
    object-fit: contain;
    right: 100px;
    bottom: 0;
  }
  .fresa-blur-2 {
    display: block;
    width: 125px;
    height: 403px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: -70%;
  }
  .fresan {
    display: block;
    width: 170px;
    height: min-content;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 40px;
  }
  .fresa-normal-3 {
    display: none;
  }
  .fresb4 {
    display: block;
    width: 190px;
    height: 403px;
    object-fit: contain;
    right: 0;
  }
  .fresanormalp {
    display: block;
    width: 139px;
    height: 175px;
    object-fit: contain;
    left: 20%;
    top: -10%;
  }
  .fresan3 {
    display: block;
    width: 118px;
    height: 175px;
    object-fit: contain;
    left: -6px;
    top: -40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .BG-tpop {
    height: 100px;
  }
  .p-lateral {
    padding: 0px 119px;
  }
  .desktop_menu {
    display: flex;
  }
  .mobileContainer {
    display: none;
  }
  .fresa-blur {
    object-fit: contain;
    position: absolute;
    right: 20%;
    width: 471px;
    height: 177px;
  }

  .fresa-blur2 {
    position: absolute;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 0px 0px 0px 10%;
    object-fit: contain;
    transform: rotate(-45deg);
  }
  .Header-container {
    flex-direction: row;
    position: relative;
  }

  .fresa-bebible-1-1 {
    margin: 0px 0px 0px 0px;
    width: 148.5px;
    height: 403.1px;
    object-fit: contain;
  }
  .span-sabores {
    justify-content: space-between;
    max-width: 400px;
    gap: 7px;
  }
  .Vitalnea-Bebible-F {
    font-size: 40px;
  }
  .buttonComprar {
    width: 243px;
    height: 40px;
    padding: 0px;
  }
  .sellos-container {
    justify-content: flex-start;
  }
  svg {
    height: 10vw;
  }
  .containerCircle {
    justify-content: flex-start;
    position: absolute !important;
    top: calc(100% - 90px);
  }
  .title_movil {
    display: none;
  }
  .title_desktop {
    display: block;
    font-size: 32px !important;
  }
  .desk_w {
    width: 555px;
  }
  .flex_row_center {
    flex-direction: row;
  }
  .familia-vitalinea {
    font-size: 44px;
  }
  .preview {
    width: 356px;
    height: 212px;
  }
  .vg {
    width: 356px !important;
    height: 212px !important;
    margin: 200px 0 0px !important;
    img {
      object-fit: contain;
    }
  }

  .vs {
    width: 228px !important;
    height: 267px !important;
    margin: 147px 0 0px !important;
  }
  .vb {
    width: 296px !important;
    height: 414px !important;
  }
  .productName {
    font-size: 22x;
  }
  .footer_text {
    display: none;
    text-align: center;
  }
  .footer_text_d {
    display: block;
    text-align: left;
  }
  .fresa-normal-1 {
    display: block;
    position: absolute;
    width: 139px;
    height: 175px;
    object-fit: contain;
    right: 100px;
    bottom: 0;
  }

  .fresa-blur-2 {
    display: block;
    width: 125px;
    height: 403px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: -70%;
  }

  .fresan {
    display: block;
    width: 170px;
    height: min-content;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 40px;
  }
  .fresa-normal-3 {
    display: none;
  }

  .fresb4 {
    display: block;
    width: 190px;
    height: 403px;
    object-fit: contain;
    right: 0;
  }
  .fresanormalp {
    display: block;
    width: 139px;
    height: 175px;
    object-fit: contain;
    left: 20%;
    top: -10%;
  }
  .fresan3 {
    display: block;
    width: 118px;
    height: 175px;
    object-fit: contain;
    left: -6px;
    top: -40px;
  }
}
.table-Container {
  padding-bottom: 30px;
}

.pr {
  position: relative;
}
/*NAVIGATION STYLES */
$white: white;
$white-67: rgba(255, 255, 255, 0.67);
.p-lateral-m {
  padding: 0px 22px;
}

.container-vit {
  max-width: 600px;
}
.menu_desktop_flex {
  display: flex;
  flex-direction: row;
}

.container_bebible {
  display: flex;
  justify-content: center;
}
.sociales {
  width: 32px;
  height: 32px;
}

.sociales_space {
  margin-left: 24px;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.desktop_menu_items {
  margin-left: 53px;
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}

.mb-68 {
  margin-bottom: 68px;
}
.logo {
  width: 129px;
  height: 50px;
}
.mobileContainer {
  width: 28px;
  height: 23px;
}

.mobileFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.mobileClose {
  cursor: pointer;
}

.mbm {
  height: 100%;
  background-color: aliceblue;
  width: 100%;
}

.mobile_menu_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: -40px;
}

.menu_mobile_flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.menu_mobile_flex_s {
  flex: 1;
  display: flex;
  justify-content: center;
}

.closebtn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  width: 30px;
  cursor: pointer;
}
.mobileBard {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 15%;
  transform: rotate(45deg);
  position: absolute;
}

.mobileBari {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 15%;
  transform: rotate(-45deg);
  position: absolute;
}
.BG-tpop {
  width: 100%;
  background-image: linear-gradient(to bottom, $white, $white-67);
  z-index: 2;
  position: absolute;
  .logo {
    width: 129px;
    height: 50px;
  }

  .mobileContainer {
    flex-direction: column;
    gap: 5px;
    .mobileBar {
      height: 4px;
      background-color: #b98b3c;
      border-radius: 1.8px;
    }
    .mbr {
      width: 20px !important;
      display: block;
      margin-left: auto;
    }
  }
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*HEADER STYLES */
.BG-mob {
  width: 100%;
  /* height: 775px; */
  min-height: 775px;
  padding: 0 0 11px;
  background-image: linear-gradient(to bottom, #f9e6e6, #ebacac);
  position: relative;
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.p-lateral-d {
  padding: 0px 142px;
}
/*FRESAS STYLES */

/*HEADER CONTENIDO */

.Header-container {
  min-height: 775px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   height: 775px; */
}

.flex-1 {
  flex: 1;

  .span-sabores {
    display: flex;
    align-items: center;

    .sabor {
      border-radius: 11px;
      border: solid 1px #00000038;
      width: 78px;
      text-align: center;
      padding: 2px 0px 2px 0px;
      outline: none;
      cursor: pointer;
    }

    .active {
      background-color: #ff000021;
      border: none !important;
    }
  }

  .Vitalnea-Bebible-F {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78246d;
  }

  .buttonComprar {
    background-color: #78246d;
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
  }

  .sellos-container {
    display: flex;
    gap: 26px;
    z-index: 2;
    position: relative;
  }
  .sello-avalado {
    width: 62px;
    height: 62px;
  }

  .sello-Kcal {
    width: 86px;
    height: 62px;
  }

  .sellos {
    margin: 36px 0px 0px 0px;
  }

  .containerCircle {
    display: flex;
    position: relative;
    .circleButton {
      width: 50px;
      height: 50px;
      background-color: #78246d;
      z-index: 2;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      .flecha {
        width: 23px;
        height: 22px;
      }
    }
  }
}

/*INFORMACION NUTRIMENTAL*/

.Informacin-nutrimen {
  margin: 0 61px 28px 0;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.41px;
  color: #78246d;
}

.Vitalnea-Bebible-G {
  /* width: 335px; */
  height: 57px;
  margin: 28px 0 21px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.Ingredientes-Leche {
  /* width: 335px; */
  height: 114px;
  margin: 21px 0 0;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;

  .text-style-1 {
    font-weight: bold;
  }
}

.table-Container {
  display: flex;
  justify-content: center;

  .tabla-Informacion-Nutrimental {
    width: calc(100% - 40px);
    background-color: #fafafa;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: right;
    color: #78246d;
  }
  td + td {
    text-align: end;
  }
}

.fresa-blur-3 {
  width: 100px;
  height: 200px;
  margin: 40px 0 109px 278px;
  filter: blur(2px);
  position: absolute;
  right: 0;
  object-fit: contain;
}

.fresa-normal-3 {
  width: 100px;
  height: 200px;
  margin: -30px 0px 0px -20px;
  position: absolute;
  left: 0;
  object-fit: contain;
}

/*SECTION PRODUCTS*/
.pa {
  position: absolute;
}
.bgfamilia {
  background-image: url("./assets/img/bgfamilia.png");
  min-height: 504px;
  position: relative;
  .container_familia {
    height: 100% !important;
    min-height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.familia-vitalinea {
  text-align: center;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}

.slider {
  display: flex;
  justify-content: center;
  .slide {
    .preview {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: center;
      }
    }
  }
}

.productName {
  text-align: center;

  font-weight: 300;

  font-stretch: normal;

  font-style: normal;

  line-height: normal;

  letter-spacing: normal;
}

/*FOOTER*/

.logosContainer {
  display: flex;
  justify-content: space-between;

  .logoDanone {
    width: 47px;
    height: 47px;
  }
  .logoVitaline {
    width: 79px;
    height: 30px;
  }
}

.footer_text {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.footer_text_d {
  width: 100%;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  p {
    line-height: 0px;
  }
}

.ptb22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

.mobile_menu {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
